.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 14px;
    font-weight: 700;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: 1.1rem;
    letter-spacing: -0.2px;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff77;
    backdrop-filter: blur(18px);
    border-bottom: 1px solid #0002;
}
.item {
    margin: 0px;
    padding: 5px 10px;
}

.hl {
    font-weight: 700;
    background-color: #fff1;
    height: 100%;
}

.title {
    font-weight: 700;
    padding: 5px 10px;
}